.home {
    font-family: 'Nixie One', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 25%;
}

.limabean {
    color: lightgoldenrodyellow;
    width: 40%;
}


