.movie-details {
  display: flex;
  background-color: rgb(112, 221, 221);
  padding: 2em;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
}

.movie-contents {
  padding: 0.5em;
  margin: 1.0rem;
}

h2 {
  padding-bottom: 2vh;
}

